<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
    <classes>
      <class name="test_components.Base_class_step1"/>
      <class name="testCases_step3.testCase1_registration"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
